body {
    font-family: 'Archivo', sans-serif;
}

header {
    display: flex;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 200px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
}

/* .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
} */

.logo {
    width: 130px;
}

nav {
    padding-top: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 23px;
}

nav ul li a {
    padding: 45px;
    color: #213317;
}

section {
    padding-left: 200px;
    padding-right: 200px;
    /* height: 1080px; */
}

.main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-page-1 {
    padding-top: 140px;
}

.main-page-h1 {
    font-size: 90px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    line-height: 120px;
    color: #213317;
}

.call-to-action {
    font-size: 25px;
    font-weight: bold;
    color: #213317;
    padding-top: 85px;
}

.call-to-action img {
    padding-left: 16px;
}

#main-page-1-image-container {
    width: 640px;
    height: 854px;
    margin-top: 100px;
}

#main-page-1-image-container img {
    width: 100%;
    /* aspect-ratio: auto 640 / 854; */
}

#main-page-2 {
    margin-top: 250px;
}

#main-page-2-image-container {
    width: 640px;
    height: 760px;
}

#main-page-2-image-container img {
    width: 100%;
    /* aspect-ratio: auto 640 / 760; */
}

.main-page-h2 {
    font-size: 50px;
    font-weight: normal;
    color: #213317;
}

.main-page-text {
    font-size: 25px;
    padding-top: 50px;
}

#main-page-3 {
    margin-top: 250px;
}

#main-page-3-image-container {
    width: 640px;
    height: 740px;
}

footer {
    display: flex;
    /* height: 300px; */
    height: 30vh;
    background-color: #23291F;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding-left: 70px;
    padding-right: 70px;
}

#footer-content-container {
    display: flex;
}

.footer-content {
    font-size: 23px;
    color: white;
    padding-left: 55px;
    padding-right: 55px;
}

/* 여기서부터 About페이지  */

#about-page-1 {
    margin-top: 250px;
}

h1 {
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #213317;
    position: relative;
}

.about-page-1-container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.about-page-1-container1-left {
    width: 50%;
}

p {
    font-size: 25px;
    /* font-weight: lighter; */
    margin-top: 50px;
}

.about-page-1-container1-left img {
    margin-top: 150px;
}

.about-page-1-container1-right img {
    margin-bottom: 150px;
}

.about-page-1-container2 {
    margin-top: 250px;
}

h2 {
    font-size: 20px;
    color: #213317;
    /* font-weight: ; */
}

p2 {
    font-size: 25px;
    /* font-weight: lighter; */
}

/* .about-page-1-container2-left {
    display: flex
} */

div ul {
    margin-top: 30px;
    list-style: none;
    font-size: 25px;
    font-weight: lighter;
    padding: 0;
}

div ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    display: list-item;
}

#about-page-2 {
    margin-top: 250px;
}

.about-page-2-container1 {
    display: flex;
    justify-content: space-between;
}

.about-page-2-container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.about-page-2-container3 {
    margin-top: 250px;
    margin-bottom: 250px;
}