/* Common */
html {
    font-size: 16px;
}

body {
    font-family: 'Archivo', 'Noto+Sans+KR', sans-serif;
}

section {
    display: flex;
}

a:hover, a:active {
    text-decoration: none;
    color: #213317;
}

.h1 {
    font-size: 5.625em;
    font-weight: 300;
    color: #213317;
    margin: 0px;
}

.h2 {
    font-size: 4.5rem;
    color: #213317;
    font-weight: 400;
    margin: 0px;
}

.h3 {
    font-size: 3.125rem;
    font-weight: normal;
    color: #213317;
    margin: 0px;
    padding-bottom: 1em;
}

.h4 {
    font-size: 1.5625rem;
    font-weight: normal;
    color: #213317;
    margin: 0px;
    padding-bottom: 0.7em;
}

.h5 {
    font-size: 1.25rem;
    color: #213317;
    font-weight: 500;
    margin: 0px;
}

.text {
    font-family: 'Raleway';
    font-size: 1.25rem;
    font-weight: 100;
    color: black;
}

.text-kr {
    font-family: 'Noto+Sans+KR';
    font-size: 1.25rem;
    line-height: 1.8;
    font-weight: 300;
}

.footer-text{
    font-size: 1rem;
    color: white;
}

.footer-text-small{
    font-size: 0.75rem;
    color: white;
}

.section-margin-1 {
    margin-bottom: 15.625rem;
    /* padding-bottom: 15.625rem; */
}

.section-margin-2 {
    margin-bottom: 12.625rem;
}

.container  {
    padding: 0px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.image-container {
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    /* margin: auto; */
}

.list-container {
    list-style: none;
    margin-top: 1em;
    padding-left: 0;
}

.list {
    padding: 0.6em 0 0.6em 0;
    border-bottom: 1px solid #707070;
}

.list:first-child { 
    padding: 0em 0 0.6em 0;
}

.list:last-child { 
    border-bottom: none; 
}

.header-padding{
    padding-top: 10rem;
    padding-bottom: 2rem;
}
/* header */

header {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}


.header-container {
    width: 86%;
    max-width: 1920px;
    margin-left: 4.375rem;
    margin-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8.125rem;
}

nav ul {
    font-family: 'Archivo';
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    margin-left: 6.5rem;
}

nav ul li a {
    color: #213317;
}

nav ul li a:hover {
    color: #213317;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* body */
.body-container {
    padding-top: 8.75rem;
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
    min-height: 72vh;
}

/* index page */

#index-tc-1 {
    justify-content: center;
    width: 50%;
}

#index-null-1 {
    width: 8%;
}

#index-ic-1 {
    padding-top: 5em;
    width: 42%;
}

#index-tc-2 {
    justify-content: center;
    width: 42%;
}

#index-null-2 {
    width: 16%;
}

#index-ic-2 {
    width: 42%;
}

#index-tc-3 {
    justify-content: center;
    width: 42%;
}

#index-null-3 {
    width: 16%;
}

#index-ic-3 {
    width: 42%;
}

/* About page */
#about-c-1 {
    width: 50%;
}

#about-tc-1 {
    padding-bottom: 5rem;
}

#about-ic-1-1 {
    width: 85%;
}

#about-null-1 {
    width: 8%;
}

#about-ic-1-2 {
    width: 42%;
}

#about-tc-2 {
    width: 42%;
}

#about-ic-3 {
    width: 50%;
}

#about-null-3 {
    width: 8%;
}

#about-tc-3 {
    width: 42%;
}

#about-tc-4 {
    width: 42%;
}

#about-null-4 {
    width: 8%;
}

#about-ic-4 {
    width: 50%;
}

#about-tc-5 {
    width: auto;
}

/* service */
#service-1 {
    flex-direction: column;
}

#service-tc-1 {
    width: 70%;
    padding-bottom: 5rem;
}

#service-ic-1 {
    width: auto;
}

#service-c-2 {
    width: 42%;
    margin-left: 0px;
    margin-right: 0px;
}

#service-tc-2-1 {
    width: 100%;
    padding-bottom: 5rem;
}

#service-tc-2-2 {
    width: 100%;
}

#service-ic-3 {
    width: 42%;
}

#service-null-3 {
    width: 16%;
}

#service-c-3 {
    width: 42%;
}

#service-tc-3-1 {
    padding-bottom: 5rem;
}

/* #service-tc-3-2 {

} */

#service-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#service-ic-4 {
    width: 72%;
    padding-bottom: 8rem;
}

#service-c-4 {
    width: 72%;
}

#service-tc-4-1 {
    width: 60%;
    padding-bottom: 5rem;
}

#service-tc-4-2 {
    width: 60%;
}

/* contact */

#contact-1 {
    padding-top: 10rem;
    border-bottom: #213317 1px solid;
    padding-bottom: 10rem;
}

#contact-c-1 {
    display: flex;
    padding-bottom: 0rem;
}

#contact-null-1 {
    width: 15%;
}

#contact-tc-1 {
    width: 60%;
}


/* call-to-action */

.call-to-action {
    font-size: 1.125rem;
    font-weight: bold;
    color: #213317;
    padding-top: 1.66em;
}

.call-to-action img {
    padding-left: 0.68em;
    width: 1.25em;
}

/* footer */

footer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #23291F;
    justify-content: center;
    align-items: center;
}

#footer-container {
    width: 86%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.null-space-footer{
    width: 20%;
}

#footer-content-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1366px) {
    html {
        font-size: 13px;
    }
    nav ul li {
        margin-left: 3rem;
    }
}

@media (max-width:910px) {
    html {
        font-size: 12px;
    }
    section{
        flex-direction: column;
        align-items: center;
    }

    .h1 {
        font-size: 4.375rem;
    }
    #index-tc-1 {
        width: 100%;
        padding-top: 5em;
    }
    #index-ic-1 {
        width: 100%;
    }
    #index-tc-2 {
        width: 100%;
        margin-bottom: 5rem;
        order: 1;
    }
    #index-ic-2 {
        width: 100%;
        order: 2;
    }
    #index-tc-3 {
        width: 100%;
        margin-bottom: 5rem;
    }
    #index-ic-3 {
        width: 100%;
    }


    /* About */

    #about-c-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-tc-1 {
        padding-bottom: 5rem;
    }
    #about-ic-1-1 {
        width: 90%;
        padding-bottom: 3rem;
    }
    #about-ic-1-2 {
        width: 90%;
    }   
    #about-2 {
        display: inline-block;
    }
    #about-tc-2 {
        width: auto;
    }
    #about-ic-3 {
        width: 100%;
        padding-bottom: 3rem;
    }
    #about-tc-3 {
        width: 100%;
    }
    #about-tc-4 {
        width: 100%;
        order: 2;
    }
    #about-ic-4 {
        width: 100%;
        padding-bottom: 3rem;
    }
    #about-5 {
        display: inline-block;
    }
    #about-tc-5 {
        width: auto;
    }


    /* service */
    #service-tc-1 {
        width: 100%;
        padding-bottom: 3rem;
    }
    #service-c-2 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #service-tc-2-1 {
        width: 100%;
        padding-bottom: 3rem;
    }
    #service-tc-2-2 {
        width: auto;
    }
    #service-3 {
        flex-direction: column;
    }
    #service-ic-3 {
        width: 80%;
        padding-bottom: 3rem;
    }
    #service-c-3 {
        width: 100%;
    }
    #service-tc-3-1 {
        padding-bottom: 5rem;
    }
    #service-tc-3-2 {
        width: auto;
    }
    #service-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #service-ic-4 {
        width: 100%;
        padding-bottom: 3rem;
    }
    #service-c-4 {
        width: 100%;
    }
    #service-tc-4-1 {
        width: 100%;
        padding-bottom: 5rem;
    }
    #service-tc-4-2 {
        width: auto;
    }

    /* Contact */
    #contact-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #contact-header{
        padding-bottom: 5rem;
    }
    #contact-c-1 {
        width: auto;
        flex-direction: column;
    }
    #contact-null-1 {
        width: 0%;
    }
    #contact-tc-1 {
        width: 100%;
    }
}


@media (max-width: 450px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1.25rem;
    }
    .logo {
        width: 6.125rem;
    }
    .section-margin-1, .section-margin-2 {
        margin-bottom: 10rem;
    }
    .header-padding{
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    #contact-1 {
        padding-top: 5rem;
    }
    .header-container {
        margin-left: 4rem;
        margin-right: 3rem;
    }
}

